<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Cadena" connectionString="Server=localhost;Database=BDEcommerce;user=ecse;password=08121988"/>
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceCliente" />
           
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:27867/ServiceCliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCliente"
                contract="ServiceReferenceCliente.IServiceCliente" name="BasicHttpBinding_IServiceCliente" />
        </client>
    </system.serviceModel>
</configuration>
